*, h2, p{
	margin: 0;
	padding: 0;
}

@font-face {
  font-family: aptima;
  src: url('../font/UTM Aptima.ttf');
}

@font-face {
  font-family: aquarelle;
  src: url('../font/UTM Aquarelle.ttf');
}

@font-face {
  font-family: avo;
  src: url('../font/UTM Avo.ttf');
}

@font-face {
  font-family: flavour;
  src: url('../font/UTM Flavour.ttf');
}

.header {
	background-image: url('../img/home/bgheader.png');
}

.container-fluid {
	padding: 0;
}

.Main__menu {
	height: 98px;
	margin-bottom: 0;
}

ul.Main__menu {
    list-style: none;
    display: flex;
    justify-content: center;
}

ul.Main__menu li a {
	color: #fff;
	font-size: 14px;
	font-weight: 900;
	font-family: aptima;
}

ul.Main__menu li a img {
    width: 110px;
    height: auto;
    margin-top: 18px;
    border: 5px solid #472f91;
    border-radius: 50%;
    margin-left: 12px;
    margin-right: 12px;
}

li.left__menu {
    margin: 65px 0 0 125px;
}

li.right__menu {
    margin: 65px 125px 0 0;
}

.background {
	height: 717px;
	width: 100%;
	background-image: url('../img/home/background.png'); 
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

.service {
	height: 960px;
	background-image: url('../img/home/bg.png');
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

.service h2 {
	font-size: 45px;
	color: #fff;
	font-weight: 900;
	text-align: center;
	padding: 40px 0 32px 0;
	font-family: aptima;
}

.service h3 {
	font-size: 16px;
	font-weight: 900!important;
	font-family: avo;
}

.col-xs-6.col-sm-6.col-md-6.col-lg-6 {
	padding-left: 5px;
}
.col-xs-6.col-sm-6.col-md-6.col-lg-6 h3 {
	text-align: center;
	font-weight: 900;
	font-size: 16px;
	width: 100%;
	margin-top: 10px;
}

.col-xs-6.col-sm-6.col-md-6.col-lg-6 img {
	width: 100%;
}

.service__item {
    margin-top: 15px;
    background-color: #fff;
}

.service__item p {
	text-align: center;
    padding: 0 15px 10px 15px;
}

.next-page {
	height: 20px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
}

.doctor{
	height: 520px;
	background-image: url('../img/home/Asset 60-8.png');
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

.doctor h2 {
	font-size: 45px;
	color: #664992;
	font-weight: 900;
	text-align: center;
	padding: 40px 0 32px 0;
	font-family: avo;
}

.doctor img {
	width: 80%;
	height: auto;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.description strong {
	font-size: 16px;
	color: #fff;
}

.description p {
	font-size: 16px;
	color: #fff;
}

.description {
	margin-top: -68px;
    margin-left: 108px;
}

.page__title {
	height: 110px;
	background-image: url('../img/home/thuwgiancungduoclieuthiennhien.png');
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

.page__title h2 {
	font-size: 45px;
	line-height: 110px;
	color: #fff;
	font-weight: 900;
	font-family: aquarell;
}

.product{
	height: 555px;
	background-image: url('../img/home/product.png');
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

.feedback {
	height: 370px;
}


.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 0;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}



.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.feedback {
	height: 480px;
	background-image: url('../img/home/Asset 60-8.png');
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

.feedback h2 {
	font-size: 45px;
	line-height: 110px;
	color: #472f91;
	font-weight: 900;
	font-family: aptima;
}

.feedback strong {
	font-family: avo;
}

.mySlides {
    background-color: #fff;
    padding: 25px;
}

.comment {
	padding: 55px;
    margin-left: -120px;
    text-align: center;
}

.comment p {
	font-family: avo;
	font-style: italic;
}

.avatar img {
	margin: 10px;
}

.footer {
	height: 400px;
	background-color: #472f91;
}

.about {
	color: #fff;
}

.footer li {
    list-style: none;
    font-size: 16px;
    padding: 5px 0 5px 0;
    font-family: avo;
}

.footer h3 {
	font-weight: bold;
	font-family: avo;
}

.footer p {
    font-size: 16px;
    padding: 5px 0 5px 0;
    font-family: avo;
}

.col-xs-3.col-sm-3.col-md-3.col-lg-3.about img {
    padding: 0 25px 0 5px;
}

.about label {
	font-family: avo;
}

.background-about {
  height: 717px;
  width: 100%;
  background-image: url('../img/about/firstimg.png'); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.introduce {
  width: 100%;
  background-image: url('../img/about/bg.png'); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.introduce h2 {
  font-family: flavour;
  font-size: 70px;
  color: #fff;
  margin-top: 30px;
  margin-bottom: 20px;
}

.introduce h3 {
  font-family: flavour;
  font-size: 39px;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 40px;
}

.introduce p {
  font-family: avo;
  font-size: 14px;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: justify;
}

.orientation a {
  font-family: avo;
  font-size: 14px;
  color: #fff;
}

.orientation {
  margin-bottom: 60px;
}
.boder-about {
  height: 2px;
  background-color: #fff;
}

.introduce .container .col-xs-6.col-sm-6.col-md-6.col-lg-6 {
    margin-bottom: 50px;
}

.background-blog {
  height: 717px;
  width: 100%;
  background-image: url('../img/blog/Asset 69-8.png'); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blog-1 {
  height: 390px;
  background-color:#472f91;
  width: auto;
  padding-top: 60px;
}

.blog-2 {
  height: 390px;
  background-color: #feedee;
  width: auto;
  padding-top: 60px;
}

.blog-1 img {
  width: 100%;
  height: auto;
}

.blog-2 img {
  width: 100%;
  height: auto;
}

.blog-1 h3 {
  font-family: avo;
  font-weight: 900!important;
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 0;
  color: #fff;
}

.blog-2 h3 {
  font-family: avo;
  font-weight: 900!important;
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 0;
  color: #472f91;
}

.blog-1 p {
  font-family: avo;
  font-size: 14px;
  color: #fff;
  text-align: justify;
}

.blog-2 p {
  font-family: avo;
  font-size: 14px;
  color: #472f91;
  text-align: justify;
}

.page-header {
  text-align: center;
  font-weight: normal;
  border-bottom: 1px solid #ddd;
  margin: 0;
  background-color: #feedee;
}
#pagination {
  margin: 0;
  padding: 0;
  text-align: center
}
#pagination li {
  display: inline
}
#pagination li a {
  display: inline-block;
  text-decoration: none;
  padding: 5px 10px;
  color: #000
}

/* Active and Hoverable Pagination */
#pagination li a {
  border-radius: 5px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s
    
}
#pagination li a.active {
  background-color: #4caf50;
  color: #fff
}
#pagination li a:hover:not(.active) {
  background-color: #ddd;
} 

.background-service {
  height: 717px;
  width: 100%;
  background-image: url('../img/services/Asset 13-8.png'); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.service-content {
  background-image: url('../img/services/Asset 14-8.png'); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.service-content h2 {
  font-family: aptima;
  font-weight: bold;
  font-size: 45px;
  margin-top: 40px
}

.service-content h3 {
  font-family: avo;
  font-size: 40px;
  margin-top: 40px
}

.service-content p {
  text-align: justify;
  font-size: 14px;
  font-family: avo;
  font-weight: bold;
  margin-bottom: 50px;
  margin-top: 50px;
}

.service-content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.schedule {
    position: relative;
    margin-bottom: 70px;
    margin-top: 70px;
}

.schedule h4 {
    position: absolute;
    text-align: center!important;
    width: 100%;
    top: 35%;
    font-family: avo;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

.orientation-service {
  margin-bottom: 70px;
}

.orientation-service a {
  font-family: avo;
  font-size: 16px;
  color: #472f91;
}

.backround__service {
  height: 952px;
  width: 100%;
  background-image: url('../img/Services/Asset 12-8.png'); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.service-items a {
    float: right;
}

ul.massage {
    margin: 30px 0 30px 20px;
}

.service-items h3 {
    text-align: start!important;
}

.service-items {
  background-color: #fff!important;
  height: 352px;
  margin: 50px 0 50px 0;
}

.service-items .col-xs-6.col-sm-6.col-md-6.col-lg-6 {
    padding: 0;
}

ul.massage li {
    color: #472f91;
}

.service-items h3 {
    color: #472f91;
}

.service__content-1 h3 {
  font-family: aptima;
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  color: #fff;
}

.service__content-1 {
  background-color: #472f91;
}

.service__content-2 {
  background-color: #feedee;  
} 


